@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primary-button {
  background-color: theme("colors.gold-light");
  color: theme("colors.black");
  padding: theme("padding.3") theme("padding.6");
  border-radius: theme("borderRadius.xl");
  font-weight: theme("fontWeight.black");
  font-size: theme("fontSize.xs");
  cursor: theme("cursor.pointer");
}

.secondary-button {
  background-color: theme("colors.gold-dark");
  color: theme("colors.black");
  padding: theme("padding.3") theme("padding.6");
  border-radius: theme("borderRadius.xl");
  font-weight: theme("fontWeight.black");
  font-size: theme("fontSize.xs");
  cursor: theme("cursor.pointer");
}

.loading-button {
  background-color: theme("colors.custom-gray");
  color: theme("colors.black");
  padding: theme("padding.3") theme("padding.6");
  border-radius: theme("borderRadius.xl");
  font-weight: theme("fontWeight.black");
  font-size: theme("fontSize.xs");
}

.input-field {
  background-color: theme("backgroundColor.transparent");
  border-width: theme("borderWidth.2");
  border-radius: theme("borderRadius.xl");
  border-color: theme("borderColor.gold-light");
  font-size: theme("fontSize.xs");
  padding: theme("padding.3");
  width: theme("width.96");
}

.input-field-amount {
  background-color: theme("backgroundColor.transparent");
  border-width: 0 0 theme("borderWidth.2") 0;
  border-color: theme("borderColor.gold-light");
  font-size: theme("fontSize.xs");
  width: theme("width.12");
}

.scroll-bar {
  overflow-y: auto;
  scrollbar-color: theme("colors.custom-gray") theme("colors.black");
  scrollbar-width: thin;
}
